body{
    background-color: rgb(22, 22, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
h1{
    transition: color 0.4s ease-in;
    margin: 0px;
    max-width: fit-content;
    font-size: 50px;
    display: flex;
    background-color: red;
    padding: 10px;
    border-radius: 15px;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a{
    font-size: 25px;
    border-radius: 15px;
    color: black;
    background-color: rgb(136, 136, 136);
    display: flex;
    padding: 15px;
    transition: background-color 0.5s ease-in;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-inline: 25px;
    font-weight: bold;
}
.navbar a:hover{
    background-color: rgb(219, 219, 219);
    transition: background-color 0.5s ease-in;
}